# Test

In [18]:
import pandas as pd

from itertools import combinations
from collections import Iterable

In [ ]:
NORDERS = 12
NSLOTS = 3
NSTEPS_ALL_SLOTS, NREST = divmod(NORDERS, NSLOTS)
NSTEPS_ALL_SLOTS, NREST

In [ ]:
def flatten(lst):
    """Make flat nested lists or tuples."""
    for item in lst:
        if isinstance(item, Iterable) and not isinstance(item, str):
            for x in flatten(item):
                yield x
        else:        
            yield item

In [ ]:
def get_permutations(sequence, n: int):
    seq_length = len(sequence)
    filled_slots, rest  = divmod(seq_length, n)
    # combinations when all slots are full 
    # time of the task is max duration of single orders
    #comb_all_slots = []
    #for k in combinations(sequence, n):
    #    comb_all_slots.append(k)

    # combinations of rests 
    #comb_rest = []
    #for k in combinations(sequence, rest):
    #    comb_rest.append(k)

   
    comb_all_slots = combinations(sequence, n)
    comb_rest = list(combinations(sequence, rest))
    print(comb_rest)
    
    for seq in combinations(comb_all_slots, filled_slots):
        f1 = list(flatten(seq))
        if len(f1) != len(set(f1)):
            continue

        for r in comb_rest:
            f2 = f1 + list(r)
            if len(f2) == len(set(f2)):
                yield f2

In [ ]:
x, n = list(range(3)), 3

In [ ]:
list(get_permutations(x, n))

In [ ]:
import math

In [ ]:
math.factorial(13)/math.factorial(3)/math.factorial(10)

In [ ]:
math.factorial(286)/math.factorial(4)/math.factorial(282)

In [ ]:
286*285*284*283/math.factorial(4)

In [17]:
for i in range(1, 20):
    print(i, (i+2)//3, max(2, i-1) - 1)

1 1 1
2 1 1
3 1 1
4 2 2
5 2 3
6 2 4
7 3 5
8 3 6
9 3 7
10 4 8
11 4 9
12 4 10
13 5 11
14 5 12
15 5 13
16 6 14
17 6 15
18 6 16
19 7 17

In [19]:
input_file = "../data/orders.xlsx"
sheetname = "Orders"
df_orders = pd.read_excel(input_file, sheetname, nrows=None)
df_orders

         MatrixName  OrderSize
0       Орион - 600        734
1       Орион - 700        722
2       Орион - 800       1622
3       Весна - 600        218
4      Весна  - 700        350
5      Весна  - 800        820
6            Сафари        292
7          Сафари 2        352
8         Сатурн ПГ         42
9         Сатурн ПО        584
10             Соло        374
11  Арабеска ПО 800         30
12           Октава         38

In [20]:
df_orders.mean(), df_orders.max()

(OrderSize    475.230769
 dtype: float64, MatrixName    Соло
 OrderSize     1622
 dtype: object)